{% extends "main_template.html" %}
{% block title %}Contact - NR{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/contact.css')}}">

{% endblock head %}

{% block body %}
<section>
    <div>
        <h2 class="h1">Contact Mr Reed</h2>
        <p class="p">You can get in contact with Mr Reed via the social media accounts below, or call:
            <b>07799232649</b> for more
            information.</p>
        <p class="p">You can contact Mr Reed via email as well.<br> Google Mail: <b>neillreep@googlemail.com</b></p>
        <h3 class="h3">Opening Hours</h3>
        <p class="p">
            Mon: 9:00 AM – 5:00 AM <br>
            Tue: 9:00 AM – 5:00 PM<br>
            Wed: 9:00 AM – 5:00 PM<br>
            Thu: 9:00 AM – 5:00 PM<br>
            Fri: 9:00 AM – 5:00 PM<br>
            Sat: 9:00 AM – 1:00 PM<br>
            Sun: Closed</p>

    </div>
</section>
<section class="contact">
    <div class="social-menu">
        <ul>
            <li><a href="https://www.facebook.com/pages/category/Jewelry-Watches/NR-jewellery-144939706205599/"><i
                    class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/nrjewellery950/"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</section>
{% endblock body %}